body{
    background-color: #ffffc8;
    color: #a10303;
    font-family: poppins;
    margin: 30px;
    padding:20px
}

.pessoa{
    display: flex;
    justify-content: center;
    gap:50px
}

.imagemhome{
    display: flex;
    justify-content: center;
    gap:50px
}

.imagemitens{
    border: 1px solid black;
    padding: 5px;
}

.descrição{
    border: 1px solid black;
    width: 200px;
    height: 94px;
    padding: 10px     
}

.itens{
    display: flex;
    justify-content: center
}

.produtos{
    padding: 20px;
}

.quadrado{
    display: flex;
    padding: 20px
}

.cliente{
    display: flex;
    justify-content: center;
    padding: 20px;    
}

.login{
    display: flex;
    justify-content: center;
    padding: 20px;   
}

.mensagemcliente{
    text-align: center;
    font-size: 28px
}

.pedido{
    text-align: center;
}

.qpedido{
    width: 50px;
    border-radius: 0px
}

.fimpedido{
    font-size: 30px;
    text-align: center
}

header{
    text-align: center;
}

input{
    min-width: 250px;
    border: 1px solid black;
    border-radius: 20px
}

span{
    font-size: 24px;
    text-align: center;
    text-decoration: underline;
}

p{
    font-size: 16px;
    color:#a10303
}
h1{
    size: 32px;
    color: #a10303;
    text-align-last: center;
}

h2{
    color: #a10303;
    text-align-last: center;
}

h3{
    color: #a10303;
    text-align-last: left;
}

strong{
    color: gray
}

button{
    width: 300px;
    font-size: 30px;
    color:azure;
    background-color: #DC2F02
}

button:hover{
    background-color: #D00000;
    transition: 0.3s all    
}

a{
    text-decoration: none;
}

form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

li{
    list-style: none;
    size:16px;
    color:#a10303;
    align-items: center;
    padding:20px

}

footer{
    text-align:center
}